{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Home </title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    {% if recipe_list %}
    {% for recipe in recipe_list %}
    <img src="{{ recipe.imagen_url }}" alt="Cupcake">
    <li><a href="">{{ recipe.titulo }}</a></li>
    {% endfor %}
  {% else %}
    <p>No hay recetas todavia</p>
  {% endif %}
  <br>
  <a href = "{% url 'recipes:logout' %}">Logout</a>
  </body>
</html>
